body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input,
.form button {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table img {
    max-width: 50px;
}
