h1 {
    font-family: 'Courier New', Courier, monospace;
}

.warna-background {
    background-color: yellow;
}

.jarak {
    gap: 10px;
}

/* @media (min-width: 768px){
    form {
        display: flex;
        gap: 20px;
    }
    .submit {
        margin-top: 35px;
    }
} */